.block {
  max-width: 100rem;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  column-gap: 3rem;
}

.journey-img {
  width: 100%;
  border-radius: 12px;
}

.journey-text-section {
  grid-column: 2 / -1;
}

.journey-block-title:link,
.journey-block-title:visited {
  font-size: 2.4rem;
  text-decoration: none;
  color: #228be6;
}

.journey-block-title:hover,
.journey-block-title:active {
  color: #4dabf7;
}

.journey-role {
  color: #2b8a3e;
  font-size: 1.6rem;
  margin-top: 1rem;
}

.journey-location {
  color: #444;
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.journey-testimony {
  margin-bottom: 1.4rem;
  font-size: 1.4rem;
  line-height: 1.7;
  color: #444;
}
